<div class="panel">
  <div class="organization-header mb-3">
    <h1>Organizations</h1>
    <button
      class="btn btn-success"
      [routerLink]="['/organization/addOrganization']"
    >
      Add orgnaization
    </button>
  </div>
  <div class="organization-table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orgItem of organizationData">
          <th scope="row">{{ orgItem.id }}</th>
          <th scope="row">{{ orgItem.orgName }}</th>
          <th scope="row">{{ orgItem.ownerName }}</th>
          <th scope="row">{{ orgItem.address }}</th>
          <th scope="row">{{ orgItem.city }}</th>
          <th scope="row">{{ orgItem.state }}</th>
          <th scope="row">{{ orgItem.country }}</th>
          <th scope="row"><button class="btn btn-warning" [routerLink]="['/','organization','editOrganization', orgItem.id]">Edit</button></th>
          <th><button class="btn btn-danger">Delete</button></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
