<div class="panel">
  <div class="home-header">
    <h1 style="font-size:4vw">Home Page</h1>
    <button class="btn btn-danger" (click)="signOut()">Log Off</button>
  </div>
  <div class="home-count">
    <div class="count-card" [routerLink]="['/organization']">
      Organizations
      <p>10</p>
    </div>

    <div class="count-card">
      Deparments
      <p>10</p>
    </div>

    <div class="count-card">
      Employees
      <p>10</p>
    </div>
  </div>


</div>
