.home-wrapper {
  margin-left: 190px;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 20px;
}

.home-count {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.count-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 200px;
}

.count-card > p {
  padding-top: 5px;
  font-size: 3vw;
  font-weight: bold;
}

.percentage {
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );
}

.count-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .count-card {
      width:120px;
      height:100px
  }
}

@media only screen and (max-width: 320px) {
  .image {
      width:50px;
      height:50px;
  }
}
