<div class="sidebar">
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/organization']">Organization</a>
  <a [routerLink]="['/departments']">Departments</a>
  <a [routerLink]="['/']">Employees</a>
  <a [routerLink]="['/']">Calender</a>
  <a [routerLink]="['/']">logout </a>
</div>
