<div class="panel">
  <div class="departments-header mb-3">
    <h1>Departments</h1>
    <button
      class="btn btn-success"
      (click)="goToAddDept()"
    >
      Add Department
    </button>
  </div>
   <div class="organization-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization Name</th>
          <th scope="col">Dept Owner</th>
          <th scope="col">Description</th>
          <th scope="col">Working Time</th>
          <th scope="col">Wokring Days</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deptItem of departmentData">
          <th scope="row">{{ deptItem.id }}</th>
          <th scope="row">{{ deptItem.orgName }}</th>
          <th scope="row">{{ deptItem.deptOwner }}</th>
          <th scope="row">{{ deptItem.description }}</th>
          <th scope="row">{{ deptItem.workingTime }}</th>
          <th scope="row">{{ deptItem.woringDays }}</th>
          <th scope="row"><button class="btn btn-warning" [routerLink]="['/','departments','editDepartment', deptItem.id]">Edit</button></th>
          <th><button class="btn btn-danger">Delete</button></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

