<div class="login-wrapper">
  <h1 class="mt-5 mb-3">Login Page</h1>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3 col-sm-12">
      <input
        placeholder="Enter Email"
        class="form-control"
        type="email"
        formControlName="email"
      />
      <div *ngIf="submitted && loginFormItems.email.errors">
        <div *ngIf="loginFormItems.email.errors.required">
          Email is required
        </div>
        <div *ngIf="loginFormItems.email.errors.email">
          Email Format Incorrect!
        </div>
      </div>
    </div>
    <div class="mb-3 col-sm-12">
      <input
        class="form-control"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      <div *ngIf="submitted && loginFormItems.password.errors">
        <div *ngIf="loginFormItems.password.errors.required">
          Password is required!
        </div>
      </div>
    </div>
    <button class="btn btn-success">Login</button><br>
    <label>{{ loginError }}</label>
  </form>
  <div class="mt-3">
    <p>If you are not registered!!</p>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </div>
</div>
