<div class="panel">
  <h1>Add New Department</h1>
  <div class="panel-body">
    <form [formGroup]="addDeptForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Fill New Department Info:</legend>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Select Organization Name </label>
          <select class="form-select" aria-label="Default select example">
            <option selected disabled>Select Organization</option>
            <option *ngFor="let org of organizationsData" value="{{ org.id }} ">
              {{ org.name }}
            </option>
          </select>
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Department Owner Name </label>
          <input class="form-control" type="text" formControlName="deptOwner" />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Description </label>
          <textarea
            class="form-control"
            type="text"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Working Time </label><br />
          <label>From: </label
          ><input
            class="form-control"
            type="time"
            id="appt"
            name="appt"
            formControlName="openTime"
          />
          <label>To: </label
          ><input
            class="form-control"
            type="time"
            id="appt"
            name="appt"
            formControlName="closeTime"
          />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Working Days</label><br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1">Monday</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2"
              >Tuesday</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Wednesday</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Thursday</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3">Friday</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Saturday</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3">Sunday</label>
          </div>
        </div>

        <div class="col-sm-12">
          <button class="btn btn-primary">Add Department</button>
        </div>
      </fieldset>
    </form>
    <div
      *ngIf="addDeptSuccess"
      class="col-sm-8 mt-3 alert alert-success"
      role="alert"
    >
      Organization Added Successfully.
    </div>
    <div
      *ngIf="addDeptError"
      class="col-sm-8 mt-3 alert alert-danger"
      role="alert"
    >
      {{ errorMessage }}
    </div>
  </div>
</div>
