/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

button {
  font-family: Arial;
  background-color: lightgray;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.panel {
  margin-left: 25vw;
  margin-right: 5vw;
  margin-top: 2vw;
}
