<div class="panel">
  <h1 class="mt-4">Edit Organization</h1>
  <div class="panel-body">
    <form [formGroup]="editOrgForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Edit Organization Info:</legend>
        <div class="mb-3 col-sm-8">
          <label class="form-label">Organization Name </label>
          <input class="form-control" type="text" formControlName="orgName" />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Owner Name </label>
          <input class="form-control" type="text" formControlName="ownerName" />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Address </label>
          <textarea
            class="form-control"
            type="text"
            formControlName="address"
          ></textarea>
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">City </label>
          <input class="form-control" type="text" formControlName="city" />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">State </label>
          <input class="form-control" type="text" formControlName="state" />
        </div>

        <div class="mb-3 col-sm-8">
          <label class="form-label">Country </label>
          <input class="form-control" type="text" formControlName="country" />
        </div>

        <div class="col-sm-12">
          <button class="btn btn-primary">Update Organization</button>
        </div>
      </fieldset>
    </form>
    <div
      *ngIf="editOrgSuccess"
      class="col-sm-8 mt-3 alert alert-success"
      role="alert"
    >
      Organization Updated Successfully.
    </div>
    <div
      *ngIf="editOrgError"
      class="col-sm-8 mt-3 alert alert-danger"
      role="alert"
    >
      {{ errorMessage }}
    </div>
  </div>
</div>
