<div class="register-wrapper">
  <h1 class="mt-5 mb-3">Register!</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Enter FirstName"
        formControlName="firstName"
      />
      <div *ngIf="submitted && registerFormItems.firstName.errors">
        <div *ngIf="registerFormItems.firstName.errors.required">
          First Name is required
        </div>
      </div>
    </div>
    <div class="mb-3 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Last Name"
        formControlName="lastName"
      />
    </div>
    <div class="mb-3 col-sm-12">
      <input
        type="email"
        class="form-control"
        placeholder="Enter Email"
        formControlName="email"
      />

      <div *ngIf="submitted && registerFormItems.email.errors">
        <div *ngIf="registerFormItems.email.errors.required">
          Email is required
        </div>
        <div *ngIf="registerFormItems.email.errors.email">
          Email Format Incorrect!
        </div>
      </div>
    </div>
    <div class="mb-3 col-sm-12">
      <input
        type="password"
        class="form-control"
        placeholder="Enter Password"
        formControlName="password"
      />

      <div *ngIf="submitted && registerFormItems.password.errors">
        <div *ngIf="registerFormItems.password.errors.required">
          Password is required
        </div>
        <div *ngIf="registerFormItems.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <label>{{ registerError }}</label>
    <button type="submit" class="mb-3 btn btn-primary">Register User</button
    ><br />
    <a routerLink="/login" routerLinkActive="active">Back to Login</a>
    <div *ngIf="registerSuccess" class="col-md-4 mt-3 alert alert-success" role="alert">
      User Registered Successfully, Get Back to Login Page to Login.
    </div>
  </form>
</div>
